<div class="page-header">
  <h1><%= t('site.listing_tasks') %></h1>
</div>
<%= breadcrumb %>
<p><%= add_link(new_task_path) %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('site.project') %></th>
      <th><%= t('site.status') %></th>
      <th><%= t('site.tasks_list') %></th>
      <th><%= t('site.task') %></th>
      <th><%= t('site.description') %></th>
      <th><%= t('site.collaborator') %></th>
      <th><%= t('site.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <% if task.project then %>
            <% color = if task.project.color then task.project.color.hex else nil end %>
            <div class="preview-color small" style="background-color:<%= color %>;"></div> 
            <%= task.project.name %>
          <% end %>
        </td>
        <td><%= if task.tasks_status then task.tasks_status.name end %></td>
        <td><%= if task.tasks_list then task.tasks_list.name end %></td>
        <td><%= task.task %></td>
        <td><%= task.description %></td>
        <td><%= if task.collaborator then task.collaborator.name end %></td>
        <td>
          <%= show_link task %> 
          <%= edit_link edit_task_path(task) %> 
          <%= destroy_link task %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>