<div class="page-header">
  <h1><%= t('site.listing_tasks') %></h1>
</div>
<%= breadcrumb %>
<p><%= add_link(new_task_path) %></p>

<form class="form-inline well" method="get">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="<%= t('site.results_filter') %>" value="<%= params[:filter] %>" size="30" name="filter">
  </div>
  <button type="submit" class="btn btn-default"><%= get_icon('search') %> <%= t('site.search') %></button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('site.project') %></th>
      <th><%= t('site.status') %></th>
      <th><%= t('site.tasks_list') %></th>
      <th><%= t('site.task') %></th>
      <th><%= t('site.description') %></th>
      <th><%= t('site.collaborator') %></th>
      <th><%= t('site.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
					<div class="preview-color small" style="background-color:<%= task.project.color.hex unless task.project.nil? || task.project.color.nil? %>;"></div>
					<%= task.project.name unless task.project.nil? %>
        </td>
        <td><%= task.tasks_status.name unless task.tasks_status.nil? %></td>
        <td><%= task.tasks_list.name unless task.tasks_list.nil? %></td>
        <td><%= task.task %></td>
        <td><%= task.description %></td>
        <td><%= task.collaborator.name unless task.collaborator.nil?  %></td>
        <td>
          <%= show_link task %>
          <%= edit_link edit_task_path(task) %>
          <%= destroy_link task %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @task_files, renderer: BootstrapPagination::Rails %>
