<h1><%= t('site.listing') %> tasks</h1>
<p><%= add_link(new_task_path) %></p>
<p><%=  %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Task List</th>
      <th>Task</th>
      <th>Description</th>
      <th>Collaborator</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= if task.tasks_status then task.tasks_status.name end %></td>
        <td><%= if task.tasks_list then task.tasks_list.name end %></td>
        <td><%= task.task %></td>
        <td><%= task.description %></td>
        <td><%= if task.collaborator then task.collaborator.name end %></td>
        <td><%= show_link task %></td>
        <td><%= edit_link edit_task_path(task) %></td>
        <td><%= destroy_link task %></td>
      </tr>
    <% end %>
  </tbody>
</table>