<p id="notice"><%= notice %></p>

<p>
  <strong>Task List:</strong>
  <%= if @task.tasks_list then @task.tasks_list.name end %>
</p>

<p>
  <strong>Project:</strong>
  <%= if @task.project then @task.project.name end %>
</p>

<p>
  <strong>Task:</strong>
  <%= @task.task %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= if @task.tasks_status then @task.tasks_status.name end %>
</p>

<p>
  <strong>Collaborator:</strong>
  <%= if @task.collaborator then @task.collaborator.name end %>
</p>

<%= link_to t('site.edit'), edit_task_path(@task), { :class => 'btn btn-success' } %> 
<%= back_link tasks_path %>
