<div class="page-header">
  <h1><%= t('site.editing_collaborator') %></h1>
</div>
<%= breadcrumb %>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @collaborator, { :class => 'btn btn-primary' } %> 
<%= back_link collaborators_path %>
