<div class="page-header">
  <h1><%= t('site.listing_collaborators') %></h1>
</div>
<%= breadcrumb %>
<p><%= add_link(new_collaborator_path) %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th><%= t('site.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @collaborators.each do |collaborator| %>
      <tr>
        <td><%= collaborator.name %></td>
        <td><%= collaborator.email %></td>
        <td><%= collaborator.role.role unless collaborator.role.nil? %></td>
        <td>
          <%= show_link collaborator %>
          <%= edit_link edit_collaborator_path(collaborator) %>
          <%= destroy_link collaborator %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
