<h1>Listing collaborators</h1>
<p><%= link_to 'New Collaborator', new_collaborator_path, :class => 'btn btn-primary' %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @collaborators.each do |collaborator| %>
      <tr>
        <td><%= collaborator.name %></td>
        <td><%= collaborator.email %></td>
        <td><%= collaborator.role.role %></td>
        <td><%= link_to 'Show', collaborator, :class => 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_collaborator_path(collaborator), :class => 'btn btn-success' %></td>
        <td><%= link_to 'Destroy', collaborator, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>