<div class="page-header">
  <h1><%= t('site.listing_tasks_statuses') %></h1>
</div>
<%= breadcrumb %>
<p><%= add_link(new_tasks_status_path) %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= t('site.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks_statuses.each do |tasks_status| %>
      <tr>
        <td><%= tasks_status.name %></td>
        <td>
          <%= show_link tasks_status %> 
          <%= edit_link edit_tasks_status_path(tasks_status) %> 
          <%= destroy_link tasks_status %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>