<div class="page-header">
  <h1><%= t('site.editing_tasks_list') %></h1>
</div>
<%= breadcrumb %>

<%= render 'form' %>

<%= link_to '<i class="fa fa-search"></i> '.html_safe + t("site.show"), @tasks_list, { :class => 'btn btn-primary' } %> 
<%= back_link tasks_lists_path %>
