<div class="page-header">
  <h1><%= t('site.listing_tasks_lists') %> </h1>
</div>
<%= breadcrumb %>
<p><%= add_link(new_tasks_list_path) %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th><%= t('site.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks_lists.each do |tasks_list| %>
      <tr>
        <td><%= tasks_list.name %></td>
        <td><%= tasks_list.description %></td>
        <td>
          <%= show_link tasks_list %> 
          <%= edit_link edit_tasks_list_path(tasks_list) %> 
          <%= destroy_link tasks_list %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>