<div class="page-header">
  <h1><%= t('site.listing_colors') %></h1>
</div>
<%= breadcrumb %>
<p><%= add_link(new_color_path) %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Hex</th>
      <th><%= t('site.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><div class="preview-color" style="background-color:<%= color.hex %>;"></div></td>
        <td><%= color.name %></td>
        <td><%= color.hex %></td>
        <td>
          <%= show_link color %> 
          <%= edit_link edit_color_path(color) %> 
          <%= destroy_link color %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>