<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @color.name %>
</p>

<p>
  <strong>Hex:</strong>
  <%= @color.hex %>
</p>

<%= link_to t('site.edit'), edit_color_path(@color), { :class => 'btn btn-success' } %> 
<%= back_link colors_path %>
