<div class="page-header">
  <h1><%= t('site.listing_categories') %></h1>
</div>
<%= breadcrumb %>
<p><%= add_link(new_category_path) %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th><%= t('site.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.type %></td>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td>
          <%= show_link category %> 
          <%= edit_link edit_category_path(category) %> 
          <%= destroy_link category %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>