<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @category.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to t('site.edit'), edit_category_path(@category), { :class => 'btn btn-success' } %> 
<%= back_link categories_path %>
